{% extends 'base.html' %}
{% block containt %}
<br>
<div class="container">
<div class="row">
    <div class="col-8 mx-auto">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sr.</th>
        <th scope="col">Username</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{user.id}}</th>
        <td>{{user.username}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}  